#contentvisitante {
    display: flex;
    height: 75%;
    width: 80%;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #46B0EB;
}

.titlesforminserir{
    font-family: 'Arial';
    font-weight: bold;
    font-size: 15px;
    color: #FFFF;
}

#nomesx{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

#labelsx{
    width: 18%;
    display: flex;
    gap: 5px;
    justify-content: end;
}

#divmf{
    display: flex;
    gap: 5px;
    align-items: flex-start;
}

.inputtexts{
    width: 57vw;
    max-width: 100%;
    min-width: 10px;
    height: 32px;
    border: none;
    border-radius: 10px;
    padding: 1rem;
    background-color: #FCF8F8;
}

.inputx{
    border: none;
    border-radius: 20px;
}

#tipo{
    display: flex;
    flex-direction: column;
}

#inputsnovonao{
    display: flex;
    width: 100%;
    gap: 40px;
}

#lie{
    display: flex;
    flex-direction: column;
}

.labelsinserir{
    margin-top: 1rem;
}

.checkboxs{
    width: 15px;
    height: 15px;
    cursor: pointer;
}

/*Tela inserir nova escala*/

#formmeses{
    margin-top: 6rem;
    margin-left: 50px;
    margin-right: 50px;
    width: 88%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#labelmeses{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

#meses{
    width: 80%;
    height: 2rem;
    border: none;
    border-radius: 20px;
    background-color: #FCF8F8;
}

#proximo{
    width: 120px;
    height: 35px;
    background-color: #8FD5EB;
    border: none;
    cursor: pointer;
    border-radius: 10px;
}

#proximo div{
    display: flex;
    justify-content: center;
    gap: 10px;
}

#proximo h{
    font-family: 'Arial';
    font-weight: bold;
    font-size: 16px;
    margin-top: auto;
    color: #000;
}

#proximo:hover {
    transform: scale(1.05);
    transition: .2s;
  }

  #proximo img{
    width: 17px;
    height: 17px;
  }